@import "tailwindcss";

@layer base {
  body {
    font-family: 'vazirmatn', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    background-color: #0f172a;
    color: #f8fafc;
    direction: rtl;
  }
}
