@import "tailwindcss";

@layer base {
  * {
    font-family: 'IRANSans', 'IRANSansX', 'Vazirmatn', system-ui, -apple-system, sans-serif !important;
  }
  body {
    font-family: 'IRANSans', 'IRANSansX', 'Vazirmatn', system-ui, -apple-system, sans-serif !important;
    background-color: #0f172a;
    color: #f8fafc;
    direction: rtl;
  }
}
